cd
build.gradle.ofer
node_modules/
**/node_modules/
KeywordsDetectionAndroidLibrary/
.gradle/*
gradle/
**/build/*
**/build
package-lock.json
.gradle/file-system.probe
.gradle/file-system.probe
.gradle/8.8/checksums/checksums.lock
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
MyLibrary/build/***
MyLibrary/build/
MyLibrary/build
MyLibrary/src/main/java/com/davoice/keywordsdetection/ForegroundModule.java.1111
MyLibrary/src/main/java/com/davoice/keywordsdetection/KeyWordsDetection.java.fromVAD
MyLibrary/src/main/java/com/davoice/keywordsdetection/KeyWordsDetectionPackage.java.1111
MyLibrary/src/main/java/com/davoice/keywordsdetection/MicrophoneService.java_
MyLibrary/src/main/java/com/davoice/keywordsdetection/VADAudioProcessor.java__
MyLibrary/src/main/java/com/davoice/keywordsdetection/VADcobraMainClass.java__
MyLibrary/src/main/java/com/davoice/keywordsdetection/VADExpoCobraModule.kt__
MyLibrary/src/main/java/com/davoice/keywordsdetection/VADFileUtils.java__
